.modal_content {
	border-radius: 12px;
	width: 100%;
	max-width: 1000px !important;
	position: relative;
}

.content {
	margin: 3rem 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content p {
	margin: 0px;
	font-size: 18px;
	text-align: center;
	color: #5b5b5b;
	max-width: 450px;
}

.content_inputs {
	max-width: 350px;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	margin: 30px 0;
}

.content h2 {
	color: #141928;
	font-weight: 500;
	font-size: 30px;
}
