.scroll {
	color: #5840c7;
	cursor: pointer;
	position: relative;
	transition: ease 0.8s;
	text-align: center;
}

.scroll div {
	margin-top: 10px;
	position: absolute;
	left: 50%;
	right: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	animation: scroll 2s ease-in-out infinite;
}

.arrow {
	width: 28px;
	height: 16px;
}

@keyframes scroll {
	0% {
		top: 80%;
	}
	50% {
		top: 30px; /* Cambia esta distancia según lo que desees */
	}
	100% {
		top: 80%;
	}
}
