.button {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: #6f42c1;
	background-color: #ffffff;
	border: 2px solid #6f42c1;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	width: 180px;
	text-align: center;
}

.button:hover {
	background-color: #6f42c1;
	color: #ffffff;
	border-color: #6f42c1;
}
